@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(https://fonts.gstatic.com/s/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuYFI.ttf) format('truetype');
}
header {
  display: flex;
  justify-content: flex-start;
  background-color: floralwhite;
}
@media (max-width: 1000px) {
  header {
    width: 100%;
    justify-content: center;
  }
}
header h1 {
  font-family: 'Baloo Paaji 2', cursive;
  padding-top: 10px;
  padding-left: 250px;
  color: black;
  font-size: 30px;
}
@media (max-width: 1000px) {
  header h1 {
    width: 40%;
    padding-left: 40px;
  }
}
header nav {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 500px;
}
@media (max-width: 1200px) {
  header nav {
    padding-left: 200px;
  }
}
@media (max-width: 1000px) {
  header nav {
    padding-left: 20px;
    font-size: 15px;
    padding-right: 15px;
  }
}
@media ( max-width: 500px ) {
  header nav {
    padding-left: 10px;
  }
}
@media (max-width: 400px) {
  header nav {
    padding-left: 20px;
  }
}
header nav a {
  padding: 15px;
  padding-right: 100px;
}
@media (max-width: 1000px) {
  header nav a {
    padding-right: 15px;
    padding: 10px;
  }
}
@media ( max-width: 500px ) {
  header nav a {
    padding-right: 15px;
    padding: 5px;
  }
}
header .loginBtn {
  font-size: 20px;
  font-family: 'Baloo Paaji 2', cursive;
  display: block;
  background-color: steelblue;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 230px;
  height: 45px;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
}
header .loginBtn a {
  color: white;
}
@media (max-width: 1000px) {
  header .loginBtn {
    width: 150px;
  }
}
@media ( max-width: 500px ) {
  header .loginBtn {
    width: 250px;
    font-size: 15px;
    height: 30px;
  }
}
@media (max-width: 910px) {
  header .loginBtn {
    width: 80px;
    font-size: 15px;
  }
}
.introduction {
  background-color: DarkSeaGreen;
}
.introduction .introductionComponents {
  display: flex;
  justify-content: center;
}
@media (max-width: 1787px) {
  .introduction .introductionComponents {
    margin-left: 200px;
  }
}
@media (max-width: 600px) {
  .introduction .introductionComponents {
    flex-direction: column;
    margin-left: 100px;
  }
}
@media ( max-width: 500px ) {
  .introduction .introductionComponents {
    flex-direction: column;
    padding-left: 10px;
    margin-left: 100px;
  }
}
.introduction .introductionComponents img {
  width: 1000px;
  height: 700px;
  margin-left: 400px;
  margin-right: 150px;
  margin-top: 200px;
  margin-bottom: 20px;
  border-radius: 30px;
  transform: translate(-15%, -8%);
}
@media (max-width: 1787px) {
  .introduction .introductionComponents img {
    margin-left: 109px;
  }
}
@media (max-width: 1500px) {
  .introduction .introductionComponents img {
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 1000px) {
  .introduction .introductionComponents img {
    width: 50%;
    height: 40%;
    margin-left: 80px;
    margin-right: 50px;
  }
}
@media (max-width: 910px) {
  .introduction .introductionComponents img {
    width: 30%;
    height: 20%;
  }
}
@media (max-width: 650px) {
  .introduction .introductionComponents img {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .introduction .introductionComponents img {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 150px;
    width: 60%;
    height: 50%;
  }
}
@media ( max-width: 500px ) {
  .introduction .introductionComponents img {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 80px;
    width: 60%;
    height: 50%;
  }
}
@media (max-width: 400px) {
  .introduction .introductionComponents img {
    margin-top: 300px;
    margin-left: 10px;
  }
}
.introduction .introductionComponents .introDescription {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px;
  padding-top: 300px;
  padding-left: 250px;
  text-align: center;
  transform: translate(-10%, -15%);
}
@media (max-width: 1500px) {
  .introduction .introductionComponents .introDescription {
    padding-left: 150px;
  }
}
@media (max-width: 1000px) {
  .introduction .introductionComponents .introDescription {
    width: 55%;
    height: 65%;
    margin-left: 0px;
    font-size: 20px;
    margin-right: 10px;
    padding-left: 100px;
  }
}
@media (max-width: 910px) {
  .introduction .introductionComponents .introDescription {
    font-size: 15px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .introduction .introductionComponents .introDescription {
    margin-left: 20px;
  }
}
@media ( max-width: 500px ) {
  .introduction .introductionComponents .introDescription {
    padding-left: 0px;
    margin-left: 40px;
  }
}
@media (max-width: 400px) {
  .introduction .introductionComponents .introDescription {
    font-size: 15px;
    margin-top: 50px;
  }
}
.introduction .introductionComponents .introDescription h2 {
  font-size: 50px;
  transform: translate(-3%, -10%);
}
@media (max-width: 1500px) {
  .introduction .introductionComponents .introDescription h2 {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .introduction .introductionComponents .introDescription h2 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .introduction .introductionComponents .introDescription h2 {
    font-size: 50px;
  }
}
.introduction .introductionComponents .introDescription .btn {
  font-size: 20px;
  font-family: 'Baloo Paaji 2', cursive;
  display: block;
  background-color: steelblue;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 230px;
  height: 45px;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-left: 140px;
  transform: translate(-15%, -20%);
}
@media (max-width: 1000px) {
  .introduction .introductionComponents .introDescription .btn {
    width: 125px;
    margin-left: 140px;
  }
}
@media (max-width: 910px) {
  .introduction .introductionComponents .introDescription .btn {
    margin-left: 110px;
  }
}
@media (max-width: 800px) {
  .introduction .introductionComponents .introDescription .btn {
    margin-left: 100px;
  }
}
@media (max-width: 600px) {
  .introduction .introductionComponents .introDescription .btn {
    margin-left: 70px;
  }
}
@media ( max-width: 500px ) {
  .introduction .introductionComponents .introDescription .btn {
    margin-left: 80px;
    width: 100px;
  }
}
@media (max-width: 400px) {
  .introduction .introductionComponents .introDescription .btn {
    width: 100px;
    font-size: 15px;
    margin-left: 60px;
  }
}
.introductionAbout {
  background-color: DarkSeaGreen;
}
.introductionAbout .introductionComponentsAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.introductionAbout .middlePart .teamMembersDescriptions1 {
  display: flex;
  justify-content: space-evenly;
}
@media ( max-width: 500px ) {
  .introductionAbout .middlePart .teamMembersDescriptions1 {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions1 .student {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1787px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 250px;
  }
}
@media (max-width: 1500px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 350px;
  }
}
@media (max-width: 1400px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 150px;
  }
}
@media (max-width: 1000px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 100px;
    font-size: 12px;
    margin-right: 20px;
  }
}
@media (max-width: 910px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 150px;
  }
}
@media (max-width: 800px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 70px;
  }
}
@media (max-width: 600px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    width: 40px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions1 .student .studentDescription {
  text-align: center;
  margin-right: 70px;
}
@media ( max-width: 500px ) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student {
    margin-left: 50px;
    margin-right: 0px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions1 .student img {
  width: 200px;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 20px;
}
@media (max-width: 1787px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student img {
    margin-left: 20px;
  }
}
@media (max-width: 1000px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student img {
    width: 100px;
    margin-left: 0px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student img {
    width: 50px;
  }
}
@media ( max-width: 500px ) {
  .introductionAbout .middlePart .teamMembersDescriptions1 .student img {
    margin-bottom: 15px;
    margin-left: 100px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions2 {
  display: flex;
  justify-content: space-evenly;
}
@media ( max-width: 500px ) {
  .introductionAbout .middlePart .teamMembersDescriptions2 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions2 .student {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
@media (max-width: 1500px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student {
    width: 250px;
  }
}
@media (max-width: 1000px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student {
    width: 100px;
    font-size: 12px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 910px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student {
    width: 150px;
  }
}
@media (max-width: 800px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student {
    width: 70px;
  }
}
@media (max-width: 600px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student {
    width: 30px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions2 .student .studentDescription {
  text-align: center;
  margin-right: 50px;
}
@media ( max-width: 500px ) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student {
    margin-left: 120px;
    margin-right: 0px;
  }
}
.introductionAbout .middlePart .teamMembersDescriptions2 .student img {
  width: 200px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student img {
    width: 100px;
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student img {
    width: 50px;
  }
}
@media ( max-width: 500px ) {
  .introductionAbout .middlePart .teamMembersDescriptions2 .student img {
    margin-bottom: 1px;
    margin-left: 70px;
  }
}
.introductionAbout .introDescriptionAbout {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 300px;
  text-align: center;
}
@media (max-width: 1000px) {
  .introductionAbout .introDescriptionAbout {
    padding-left: 0px;
  }
}
@media (max-width: 800px) {
  .introductionAbout .introDescriptionAbout {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .introductionAbout .introDescriptionAbout {
    font-size: 15px;
  }
}
@media ( max-width: 500px ) {
  .introductionAbout .introDescriptionAbout {
    font-size: 10px;
  }
}
.introductionAbout .introDescriptionAbout h2 {
  font-size: 50px;
  text-align: center;
  margin-left: 0px;
}
.introductionAbout .introDescriptionAbout p {
  margin-left: 700px;
  text-align: center;
  width: 600px;
}
@media (max-width: 1787px) {
  .introductionAbout .introDescriptionAbout p {
    margin-left: 500px;
  }
}
@media (max-width: 1500px) {
  .introductionAbout .introDescriptionAbout p {
    margin-left: 180px;
    margin-right: 30px;
  }
}
@media (max-width: 1000px) {
  .introductionAbout .introDescriptionAbout p {
    margin-left: 200px;
  }
}
@media (max-width: 800px) {
  .introductionAbout .introDescriptionAbout p {
    margin-left: 40px;
  }
}
@media (max-width: 600px) {
  .introductionAbout .introDescriptionAbout p {
    margin-left: 00px;
  }
}
@media ( max-width: 500px ) {
  .introductionAbout .introDescriptionAbout p {
    width: 300px;
    margin-right: 80px;
    margin-left: 40px;
  }
}
.middle-section {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 0px;
  font-family: 'Baloo Paaji 2', cursive;
}
.middle-section img {
  width: 100%;
  height: 1000px;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .middle-section img {
    height: 2200px;
  }
}
@media (max-width: 600px) {
  .middle-section img {
    height: 2000px;
  }
}
.middle-section .columns {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  color: black;
}
.middle-section .columns h3 {
  font-size: 50px;
}
@media (max-width: 600px) {
  .middle-section .columns h3 {
    font-size: 40px;
  }
}
@media ( max-width: 500px ) {
  .middle-section .columns h3 {
    font-size: 30px;
  }
}
.middle-section .columns .columns123Div {
  display: flex;
}
@media (max-width: 600px) {
  .middle-section .columns .columns123Div {
    display: flex;
    flex-direction: column;
  }
}
@media ( max-width: 500px ) {
  .middle-section .columns .columns123Div {
    display: flex;
    flex-direction: column;
  }
}
.middle-section .columns .columns123Div .column123 {
  color: black;
  background-color: rgba(112, 128, 144, 0.4);
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  padding: 40px;
}
@media (max-width: 800px) {
  .middle-section .columns .columns123Div .column123 {
    width: 150px;
  }
}
@media (max-width: 910px) {
  .middle-section .columns .columns123Div .column123 {
    width: 150px;
  }
}
.middle-section .columns .columns456Div {
  display: flex;
}
@media (max-width: 600px) {
  .middle-section .columns .columns456Div {
    display: flex;
    flex-direction: column;
  }
}
@media ( max-width: 500px ) {
  .middle-section .columns .columns456Div {
    display: flex;
    flex-direction: column;
  }
}
.middle-section .columns .columns456Div .column456 {
  color: black;
  background-color: rgba(112, 128, 144, 0.4);
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  padding: 40px;
}
@media (max-width: 800px) {
  .middle-section .columns .columns456Div .column456 {
    width: 150px;
  }
}
@media (max-width: 910px) {
  .middle-section .columns .columns456Div .column456 {
    width: 150px;
  }
}
.middle-section .columns .btnCategories {
  font-size: 20px;
  font-family: 'Baloo Paaji 2', cursive;
  display: block;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 230px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  width: 150px;
  background-color: steelblue;
  color: white;
  height: 40px;
}
.middle-section .columns .btnCategories456 {
  font-size: 20px;
  font-family: 'Baloo Paaji 2', cursive;
  display: block;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 230px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  width: 150px;
  background-color: steelblue;
  color: white;
  height: 40px;
}
.bottom-section .bottom-content {
  width: 100%;
  font-family: 'Baloo Paaji 2', cursive;
}
.bottom-section .bottom-content .favoritesMainTitle {
  font-size: 60px;
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
}
.bottom-section .bottom-content .favoritesListSection1 {
  position: relative;
  border-bottom: 2px solid black;
}
.bottom-section .bottom-content .favoritesListSection1 img {
  background-size: 300px 100px;
  height: 500px;
  width: 100%;
  margin: 0px;
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListSection1 img {
    height: 1000px;
  }
}
.bottom-section .bottom-content .favoritesListSection1 .columnsBottom1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bottom-section .bottom-content .favoritesListSection1 .columnsBottom1 h3 {
  font-size: 50px;
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
  margin-top: 200px;
  width: 1000px;
}
@media (max-width: 1000px) {
  .bottom-section .bottom-content .favoritesListSection1 .columnsBottom1 h3 {
    width: 50%;
    margin-top: 100px;
  }
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListSection1 .columnsBottom1 h3 {
    font-size: 30px;
  }
}
.bottom-section .bottom-content .favoritesListSection1 .columnsBottom1 .favoritesListBox .list123 {
  background-color: rgba(240, 255, 240, 0.4);
}
.bottom-section .bottom-content .favoritesListSection2 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
}
.bottom-section .bottom-content .favoritesListSection2 img {
  background-size: 300px 100px;
  height: 500px;
  width: 100%;
  margin: 0px;
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListSection2 img {
    height: 1000px;
  }
}
.bottom-section .bottom-content .favoritesListSection2 .columnsBottom2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  color: black;
}
.bottom-section .bottom-content .favoritesListSection2 .columnsBottom2 h3 {
  font-size: 50px;
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
  margin-top: 200px;
  width: 1000px;
}
@media (max-width: 1000px) {
  .bottom-section .bottom-content .favoritesListSection2 .columnsBottom2 h3 {
    width: 50%;
    margin-top: 100px;
  }
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListSection2 .columnsBottom2 h3 {
    font-size: 30px;
  }
}
.bottom-section .bottom-content .favoritesListSection2 .columnsBottom2 .favoritesListBox .list123 {
  background-color: rgba(250, 235, 215, 0.4);
}
.bottom-section .bottom-content .favoritesListSection3 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
}
.bottom-section .bottom-content .favoritesListSection3 img {
  background-size: 300px 100px;
  height: 500px;
  width: 100%;
  margin: 0px;
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListSection3 img {
    height: 1000px;
  }
}
.bottom-section .bottom-content .favoritesListSection3 .columnsBottom3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  color: black;
}
.bottom-section .bottom-content .favoritesListSection3 .columnsBottom3 h3 {
  font-size: 50px;
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
  margin-top: 200px;
  width: 1000px;
}
@media (max-width: 1000px) {
  .bottom-section .bottom-content .favoritesListSection3 .columnsBottom3 h3 {
    width: 50%;
    margin-top: 100px;
  }
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListSection3 .columnsBottom3 h3 {
    font-size: 30px;
  }
}
.bottom-section .bottom-content .favoritesListBox {
  font-size: 40px;
  width: 100%;
}
@media (max-width: 1000px) {
  .bottom-section .bottom-content .favoritesListBox {
    width: 50%;
    font-size: 30px;
  }
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListBox {
    height: 500px;
    font-size: 20px;
  }
}
.bottom-section .bottom-content .favoritesListBox .list123 {
  margin: 30px;
  padding: 20px;
  background-color: rgba(240, 255, 255, 0.4);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .bottom-section .bottom-content .favoritesListBox .list123 {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .bottom-section .bottom-content .favoritesListBox .list123 {
    width: 300px;
  }
}
@media ( max-width: 500px ) {
  .bottom-section .bottom-content .favoritesListBox .list123 {
    width: 100px;
    font-size: 15px;
  }
}
footer {
  text-align: center;
}
footer nav a {
  padding: 5px;
  font-size: 15px;
}
