.bottom-section{
   .bottom-content{
       .favoritesMainTitle{
            background-color:floralwhite;
            font-size: 60px;
            font-family: @baloo;
            text-align: center;
            border-bottom: 2px solid black;
            
       }
        width: 100%;
        height: 1000px;
        .favoritesListSection{
            display: flex;
            justify-content: space-evenly;
            border-bottom: 2px solid black;
            
            h3{
                font-size:50px;
                font-family: @baloo;
                text-align: center;
                margin-top: 100px;
            }
        }    
        .favoritesListBox{
            font-size:40px;
            
            .list123{
                margin:30px;
                padding:20px;
                background-color: darkseagreen;
                text-align: center;
                border-radius: 10px;
                
            }


        }
   }
}