

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
  

header{
  display: flex;
  background-color: floralwhite;
  
  h1{
  font-family: 'Baloo Paaji 2', cursive;
  padding-top: 40px;
  padding-left: 300px;
  text-align: center;
  color: black;
  font-size: 30px;
  }
  
}

.introduction{
  background-color: DarkSeaGreen;
  img{
    width: 1000px;
    height: 700px;
    padding-left: 500px;
    padding-top: 200px;
  }
}

.middle-section{
    padding-top: 200px;
    font-family: 'Baloo Paaji 2', cursive;
    display:flex;
    justify-content: space-evenly;
}
