header{
    display: flex;
    justify-content: space-evenly;
    background-color: floralwhite;
    
    h1{
    font-family: @baloo;
    padding-top: 10px;
    padding-left: 0px;
    text-align: center;
    color: black;
    font-size: 30px;
    }
    nav{
      font-family: @baloo;
      font-size: 20px;
      padding-top: 30px;
      padding-left: 300px;
      a{
        padding: 15px;
        padding-right: 100px;
        
        
      }
  
    }
    
  }
  
  .introduction{
    background-color: DarkSeaGreen;
    .introductionComponents{
      display:flex;
      justify-content: center;
  
      img{
        width: 1000px;
        height: 700px;
        margin-left: 400px;
        margin-right: 150px;
        margin-top: 200px;
        margin-bottom: 100px;
        border-radius: 30px;
      }
      .introDescription{
        font-family: @baloo;
        font-size: 20px;
        padding-top: 300px;
        padding-left: 150px;
        text-align:center;
        h2{
          font-size: 50px;
        }
      }
    }
  }