header{
    display: flex;
    justify-content: flex-start;
    background-color: floralwhite;
    @media @desktop{
      width: 100%;
      justify-content: center;
    }
    

    
    h1{
    font-family: @baloo;
    padding-top: 10px;
    padding-left: 250px;
    color: black;
    font-size: 30px;
    @media @desktop{
      width: 40%;
      padding-left: 40px;
    }
    }
    nav{
      font-family: @baloo;
      font-size: 20px;
      padding-top: 30px;
      padding-left: 500px;
      @media @desktop{
        padding-left: 20px;
        font-size: 15px;
        padding-right: 15px;
      }
      @media @mobile{
        padding-left: 100px;

      }
      a{
        padding: 15px;
        padding-right: 100px;

        @media @desktop{
          padding-right: 15px;
          padding: 10px;
        }
        @media @mobile{
          padding-right: 15px;
          padding: 5px;

        }
      }
  
    }
    .loginBtn{
        .custom-btn(20px, @baloo);
        margin-top: 15px;
        @media @desktop{
          width: 150px;
        }
        @media @mobile{
          width:250px;
          font-size: 15px;
          height: 30px;
          
        }
    }
    
  }
  
.introduction{
    background-color: DarkSeaGreen;
    .introductionComponents{
      display:flex;
      justify-content: center;
      
  
      img{
        width: 1000px;
        height: 700px;
        margin-left: 400px;
        margin-right: 150px;
        margin-top: 200px;
        margin-bottom: 20px;
        border-radius: 30px;
        transform: translate(-15%, -8%);
        @media @desktop{
          width: 40%;
          height: 50%;
          margin-left: 40px;
          margin-right: 50px;
        }

        @media @mobile{
          margin-top: 400px;
        }
      }
      .introDescription{
        font-family: @baloo;
        font-size: 20px;
        padding-top: 300px;
        padding-left: 250px;
        text-align:center;
        transform: translate(-10%, -15%);
        @media @desktop{
          width: 55%;
          height: 65%;
          margin-left: 0px;
          font-size: 20px;
          margin-right: 10px;
          padding-left: 100px;
        }
        h2{
          font-size: 50px;
          transform: translate(-3%, -10%);
          @media @desktop{
            font-size: 30px;
          }
        }
        .btn{
            .custom-btn(20px , @baloo);
            margin-left: 140px;
            transform: translate(-15%, -20%);
            @media @desktop{
              width: 125px;
              margin-left: 140px;
            }
            @media @mobile{
              margin-left: 80px;
            }
            
        }
      }
      
    }
  }

  .introductionAbout{
    background-color: DarkSeaGreen;
    .introductionComponentsAbout{
      display:flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
      }
      
      .middlePart{
        .teamMembersDescriptions1{
            display:flex;
            justify-content: space-evenly;
            @media @mobile{
              
              display: flex;
              flex-direction: column;
              margin-left: 280px;
            }
            .student{
              display: flex;
              flex-direction: column;
              text-align:center;
              width: 500px;
              font-size: 20px;
              font-weight: bold;
              @media @desktop{
                width: 200px;
                font-size: 12px;
                margin-right: 20px;
                
              }

              //@media @mobile{
                //width: 40px;
              //}
              
              img{
                width: 200px;
                border-radius: 10px;
                margin-left: 100px;
                margin-top:20px;
                @media @desktop{
                  width: 150px;
                  margin-left: 0px;
                  margin-right: 10px;
                  
                }
                @media @mobile{
                  margin-bottom: 15px;
                }
                
              }
            }

        }
        .teamMembersDescriptions2{
            display:flex;
            justify-content: space-evenly;
            @media @mobile{
              
              display: flex;
              flex-direction: column;
              margin-left: 250px;
            }
            .student{
              display: flex;
              flex-direction: column;
              text-align:center;
              width: 400px;
              font-size: 20px;
              font-weight: bold;
              margin-top: 30px;
              @media @desktop{
                width: 200px;
                font-size: 12px;
                margin-left: 30px;
              }

              //@media @mobile{
                //width: 40px;
                
              //}
              
              img{
                width: 200px;
                border-radius: 10px;
                margin-left: 70px;
                margin-top:10px;
                @media @desktop{
                  width: 150px;
                  margin-left: 0px;

                }

                @media @mobile{
                  margin-bottom: 1px;
                }
                
              }
            }
        }
    }
  
      .introDescriptionAbout{
        font-family: @baloo;
        font-size: 20px;
        padding-top: 100px;
        padding-left:100px;
        padding-bottom: 300px;
        text-align:center;
        @media @desktop{
          padding-left:0px;
        }

        @media @mobile{
          font-size:15px;
        }
        h2{
          font-size: 50px;
          text-align: center;
          margin-left: 0px;
        }
        p{
            margin-left: 700px;
            text-align:center;
            width: 600px;
            //padding-left: 300px;
            //padding-right: 300px;
            @media @desktop{
              margin-left: 200px;
            }

            @media @mobile{
              width: 300px;
              margin-right: 300px;
            }
            
          
        }
        
      }
      
    }
  