header{
    display: flex;
    justify-content: flex-start;
    background-color: floralwhite;
    
    h1{
    font-family: @baloo;
    padding-top: 10px;
    padding-left: 250px;
    color: black;
    font-size: 30px;
    }
    nav{
      font-family: @baloo;
      font-size: 20px;
      padding-top: 30px;
      padding-left: 500px;
      a{
        padding: 15px;
        padding-right: 100px;
      }
  
    }
    .loginBtn{
        .custom-btn(20px, @baloo);
        margin-top: 15px;
    }
    
  }
  
.introduction{
    background-color: DarkSeaGreen;
    .introductionComponents{
      display:flex;
      justify-content: center;
  
      img{
        width: 1000px;
        height: 700px;
        margin-left: 400px;
        margin-right: 150px;
        margin-top: 200px;
        margin-bottom: 0px;
        border-radius: 30px;
      }
      .introDescription{
        font-family: @baloo;
        font-size: 20px;
        padding-top: 300px;
        padding-left: 150px;
        text-align:center;
        h2{
          font-size: 50px;
        }
        .btn{
            .custom-btn(20px , @baloo);
            margin-left: 140px;
            
        }
      }
      
    }
  }

  .introductionAbout{
    background-color: DarkSeaGreen;
    .introductionComponentsAbout{
      display:flex;
      flex-direction: column;
      align-items: center;
  
      .introDescriptionAbout{
        font-family: @baloo;
        font-size: 20px;
        padding-top: 300px;
        padding-left: 150px;
        padding-bottom: 300px;
        text-align:center;
        h2{
          font-size: 50px;
        }
        p{
            text-align:center;
            padding-left: 300px;
            padding-right: 300px;
        }
        .btnAbout{
            .custom-btn(20px , @baloo);
            margin-left: 900px;
            
        }
      }
      
    }
  }