.middle-section{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 0px;
    font-family: @baloo;
    
    
  
    img{
      width: 100%;
      height: 1000px;
      border-radius: 10px;
      @media @mobile{
          height: 2200px;
      }
      @media @middlelow{
        height: 2000px;
    }
      }
     
    .columns{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        margin-bottom: 50px;
        padding: 20px;  
        border-radius: 10px;
        color: black;

        h3{
            font-size: 50px;
            @media @middlelow{
                font-size: 40px;
            }
            @media @mobile{
                font-size: 30px;
            }
            
        }
        .columns123Div{
            display:flex;
            @media @middlelow{
            display:flex;
            flex-direction: column;
                
            }
            @media @mobile{
                display:flex;
                flex-direction: column;
                
            }
            .column123{
                color:black;
                background-color: rgba(112,128,144, 0.4);
                width: 200px;
                margin:10px;
                border-radius: 10px;
                padding: 40px;
                @media @middle{
                    width:150px;
                        
                }
                
            }
        }

        .columns456Div{
            display:flex;
            @media @middlelow{
            display:flex;
            flex-direction: column;
                    
            }
            @media @mobile{
                display:flex;
                flex-direction: column;
                
            }
            .column456{
                color:black;
                background-color: rgba(112,128,144, 0.4);
                width: 200px;
                margin:10px;
                border-radius: 10px;
                padding: 40px;
                @media @middle{
                    width:150px;
                        
                    }
            }
        }
        
            
        
        .btnCategories{
            .custom-btn(20px , @baloo);
            margin-left: 20px;
            margin-right:10px;
            width: 150px;
            background-color: steelblue;
            color:white;
            height: 40px;
            //position: absolute;
            //top: 55%;
            //left: 50%;
            //transform: translate(-50%, -50%);
            
        }
        
        .btnCategories456{
            .custom-btn(20px , @baloo);
            margin-left: 20px;
            margin-right:10px;
            width: 150px;
            background-color: steelblue;
            color:white;
            height: 40px;
            //position: absolute;
            //top: 55%;
            //left: 50%;
            //transform: translate(-50%, -50%);
            
        }
    }
}  

