.middle-section{
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 40px;
    
    
  
    img{
      width: 100%;
      height: 1000px;
      border-radius: 10px;
      }
      padding-top: 0px;
      font-family: @baloo;
      display:flex;
      justify-content: space-evenly;
    .column{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        margin-bottom: 50px;
        padding: 20px;  
        border-radius: 10px;
        color: black;
        p{
            
            border-radius: 10px;
            color: white;
            font-size:30px;
        }
        .btnFavorites{
            .custom-btn(20px , @baloo);
            margin-left: 400px;
            position: absolute;
            
        }
        
    }
  }