
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');




// font-family assignment 
@font-style: @baloo;

// font-family
@baloo: 'Baloo Paaji 2', cursive;


//Other Variables
@mobile: ~'( max-width: 515px )';