

// font-family assignment 
@font-style: @baloo;

// font-family
@baloo: @import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

//Other Variables
@mobile: ~'( max-width: 515px )';